.btn-danger {
    background-color: #d43737;
    border: none!important;
}
.btn {
	display:inline-block;
	font-weight:400;
	/*color:#212529;*/
	text-align:center;
	vertical-align:middle;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
button, [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
.rounded-0 {
    border-radius: 0!important;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
@media(prefers-reduced-motion:reduce) {
	.btn {
	transition:none
}
}.btn:hover {
	color:#212529;
	text-decoration:none
}
.btn:focus,.btn.focus {
	outline:0;
	box-shadow:0 0 0 .2rem rgba(0,123,255,.25)
}
.btn.disabled,.btn:disabled {
	opacity:.65
}
a.btn.disabled,fieldset:disabled a.btn {
	pointer-events:none
}

.btn-danger {
	color:#fff;
	background-color:#dc3545;
	border-color:#dc3545
}
.btn-danger:hover {
	color:#fff;
	background-color:#c82333;
	border-color:#bd2130
}


@-webkit-keyframes spinner-border {
	to {
	-webkit-transform:rotate(360deg);
	transform:rotate(360deg)
}
}@keyframes spinner-border {
	to {
	-webkit-transform:rotate(360deg);
	transform:rotate(360deg)
}
}.spinner-border {
	display:inline-block;
	width:2rem;
	height:2rem;
	vertical-align:text-bottom;
	border:.25em solid currentColor;
	border-right-color:transparent;
	border-radius:50%;
	-webkit-animation:spinner-border .75s linear infinite;
	animation:spinner-border .75s linear infinite
}
.spinner-border-sm {
	width:1rem;
	height:1rem;
	border-width:.2em
}
@-webkit-keyframes spinner-grow {
	0% {
	-webkit-transform:scale(0);
	transform:scale(0)
}
50% {
	opacity:1
}
}@keyframes spinner-grow {
	0% {
	-webkit-transform:scale(0);
	transform:scale(0)
}
50% {
	opacity:1
}
}.spinner-grow {
	display:inline-block;
	width:2rem;
	height:2rem;
	vertical-align:text-bottom;
	background-color:currentColor;
	border-radius:50%;
	opacity:0;
	-webkit-animation:spinner-grow .75s linear infinite;
	animation:spinner-grow .75s linear infinite
}

.embed-responsive {
	position:relative;
	display:block;
	width:100%;
	padding:0;
	overflow:hidden
}
.embed-responsive::before {
	display:block;
	content:""
}
.embed-responsive .embed-responsive-item,.embed-responsive>.video-embedded>iframe,.embed-responsive embed,.embed-responsive object,.embed-responsive video {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	border:0
}
.embed-responsive-21by9::before {
	padding-top:42.857143%
}
.embed-responsive-16by9::before {
	padding-top:56.25%
}
.embed-responsive-4by3::before {
	padding-top:75%
}
.embed-responsive-1by1::before {
	padding-top:100%
}

.stretched-link::after {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1;
	pointer-events:auto;
	content:"";
	background-color:transparent
}

.text-danger {
	color:#dc3545!important
}
a.text-danger:hover,a.text-danger:focus {
	color:#a71d2a!important
}
.text-light {
	color:#f8f9fa!important
}
a.text-light:hover,a.text-light:focus {
	color:#cbd3da!important
}
.text-dark {
	color:#343a40!important
}

.showing-wrapper {
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:rgba(0,0,0,.6)
}
.showing-box,.play-btn {
	position:absolute;
	top:50%;
	left:50%;
	font-size:20px;
	color:#fff;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%)
}
.showing-box {
	z-index:999
}
.play-btn {
	font-size:5rem;
	color:#c43131;
	z-index:888
}
.play-btn:hover {
	color:#cf6d6d
}
.play-btn:focus {
	box-shadow:none!important
}
.showx {
	display:none;
	position: absolute;
	top: -28px;
	left: 50%;
	transform: translateX(-50%);
	width: auto;
	line-height: 28px;
	border-radius: 15px;
	font-size: 16px;
	height: 28px;
	text-transform: lowercase;
	font-weight: 400;
	padding: 0 6px;
}


* {
    /*font-family: barlow semi condensed,sans-serif;
    font-weight: 500;*/
}

